body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#map {
  width: 100vw;
  height: 100vh;
  
} 

#tooltip {
  position: absolute;
  background: #20244597;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  pointer-events: none;
  max-width: 300px;

}